
.bottom{
  border: 1px black solid;
  margin: auto;
  color: #009E8E;
  background-color: #009E8E;
}

.l1{
  border: 1px black solid;
  width: 90%;
  margin: auto;
  color: #1047A9;
  background-color:#1047A9;
}

.l2{
  border: 1px black solid;
  width: 80%;
  margin: auto;
  color: #FFA500;
  background-color: #FFA500;

}

.l3{
  border: 1px black solid;
  width: 70%;
  margin: auto;
  color: #FF6C00;
  background-color: #FF6C00;
}

.l4{
  border: 1px black solid;
  width: 60%;
  margin: auto;
  color: #1E776D;
  background-color: #1E776D;


}

.l5{
  border: 1px black solid;
  width: 50%;
  margin: auto;
  color: #29477F;
  background-color: #29477F;

}

.l6{
  border: 1px black solid;
  width: 40%;
  margin: auto;
  color: #BF8D30;
  background-color: #BF8D30;

}

.l7{
  border: 1px black solid;
  width: 30%;
  margin: auto;
  color: #BF6D30;
  background-color: #BF6D30;

}

.l8{
  border: 1px black solid;
  width: 20%;
  margin: auto;
  color: #00675C;
  background-color: #00675C;

}

.l9{
  border: 1px black solid;
  width: 10%;
  margin: auto;
  color: #052A6E;
  background-color: #052A6E;

}
