body{
  color: white;
  text-align: center;
}

.bottom{
  border: 1px black solid;

}

.l1{
  border: 1px black solid;

}

.l2{
  border: 1px black solid;

}

.l3{
  border: 1px black solid;

}

.l4{
  border: 1px black solid;

}

.l5{
  border: 1px black solid;

}

.l6{
  border: 1px black solid;

}

.l7{
  border: 1px black solid;

}

.l8{
  border: 1px black solid;

}

.l9{
  border: 1px black solid;

}

.l10{
  border: 1px black solid;

}

.top{
  border: 1px black solid;

}
